body {
    background-color: rgb(3, 12, 59);
    font-family: 'Lato', sans-serif;
}

#body {
    width: 75%;
    background-color: white;
    text-align: center;
    border: rgb(156,158,174) solid 1px;
    border-radius: 7.5px;
    margin: 50px auto 0 auto;
}

#tag-line-container {
    border-bottom: rgb(247,248,249) solid 1px;
    padding: 10px;
}

.plan-type {
    text-transform: uppercase;
}

.plan-price {
    color: rgb(64,155,238)
}

.plan-price span {
    font-size: 130%;
}

.plan-widgets {
    text-transform: uppercase;
}

#plan-container {
    display: flex;
    justify-content: space-around;
}

.plan {
    width: 33%;
    height: 400px;
    display: inline-block;
    border-right: rgb(247,248,249) solid 1px;
    margin: auto;
    position: relative;
}

#right-plan {
    border-right: 0;
}

.btn-holder {
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
}

.btn-holder:hover ~ .plan-info {
    display: none;
}

button {
    width: 125px;
    margin: auto;
    height: 40px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    background-color: rgb(64,155,238);
    outline: 0;
}

button:hover {
    opacity: .7;
}

button:active {
    border: 2px  rgb(64,155,238) solid;
}

.plan:hover .plan-info {
    opacity: 0;
}

.hover-text {
    width: 100%;
    opacity: 0;
    color: rgb(64,155,238);
    position: absolute;
    top: 130px;
    text-align: center;
}

.plan:hover > .hover-text {
    opacity: 1;
    top: 165px;
    transition-duration: .5s;
}

.active {
    color: rgb(64,155,238);
    background-color: white;
    border: rgb(64,155,238) 1px solid;
}